@model Tickets_bot.Models.TicketsBug

@{
    ViewData["Title"] = "NovoTicket";
}

<h6 class="alert alert-success">Novo Ticket</h6>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NovoTicket">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
                <input asp-for="IdfPessoaFisica" type="hidden"/>
            <div class="form-group">
                <label asp-for="DesTicket" class="control-label col-form-label-sm"></label>
                <input asp-for="DesTicket" class="form-control form-control-sm" />
                <span asp-validation-for="DesTicket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdfTicketSituacao" class="control-label col-form-label-sm"></label>
                <input asp-for="IdfTicketSituacao" class="form-control form-control-sm" />
                <span asp-validation-for="IdfTicketSituacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtaCadastro" class="control-label col-form-label-sm"></label>
                <input asp-for="DtaCadastro" class="form-control form-control-sm" />
                <span asp-validation-for="DtaCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NmeTicketResponsavel" class="control-label col-form-label-sm"></label>
                <input asp-for="NmeTicketResponsavel" class="form-control form-control-sm" />
                <span asp-validation-for="NmeTicketResponsavel" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FlgInativo" /> @Html.DisplayNameFor(model => model.FlgInativo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success btn-sm" />&emsp;
                <a asp-action="ListagemTickets" asp-route-idfTicket="@Model.IdfTicket">Voltar</a>
            </div>
        </form>
    </div>
</div>
